


<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1> Writings by and for Oakland's Unhoused Communities. </h1>

  <ul>
  <li style="font-family: 'Ultra', serif; font-size: 30px;">Curbside<li>
  <li style="float:right"><button type="button" >Get Started</button></li>
  <li style="float:right"><a href="figureout">Sign In</a></li>
  <li style="float:right"><a href="figureout">Write</a></li>
  <li style="float:right"><a href="figureout">Subscribe</a></li>
  

  
</ul>
</body>
</html>